
.icon-plus-circle:before { content: '\e800'; } /* '' */
.icon-minus-circle:before { content: '\e801'; } /* '' */
.icon-retweet:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */