{% extends "base.html" %}

{% block title %}Page Not Found{% endblock title %}

{% block content %}
 <div class="scratch-metal">
    <h1>404</h1>
    <h2>Meine Spezielle Error Page</h2>
 </div><br/>
 <button onclick="window.history.back();">Back</button>
{% endblock content %}