<!DOCTYPE html>
<html>
<head>
    <img src='/static/banner.gif' />
    <title>{% block sitetitle %}{% endblock sitetitle %}</title>
    <meta charset="UTF-8">
	<meta name="description" content="sinnloses zeugs">
	<meta name="keywords" content="FHStP, WEBTECH, ILV">
	<meta name="author" content="MG/TP">
	<link rel="stylesheet" href="/static/stylesheet/screen.css" />
</head>
<body>
<div class='wrapper'>
	<header>
		<nav id= 'user'>
		f&uuml;r Benutzer: {{username}}
		<ul>
			<li><a href="{% url 'todolist_add' %}" class="add icon-plus-circle"></a></li>
			<li><a href="{% url 'logout' %}" class="logout icon-logout"></a></li>
		</ul>
		</nav>
    	<br>
    	<h1><a href="{% url 'overview' %}">{% block title %}{% endblock title %}</a></h1>
		<br><br>
  	</header>
    {% block content %}{% endblock content %}
</div>
</body>
</html>