{% extends "base.html" %}

{% block title %}&Uuml;bersicht{% endblock %}
{% block sitetitle %}TODOlist{% endblock %}

{% block content %}
<section>
<nav>
<ul>
{% if object_id %}

	<li><a href="{% url 'todolist_delete' object_id=object_id %}" class='icon-minus-circle'></a></li>

{% endif%}

	<!--<li><a href="{% url 'todolist_overview' %}">back</a></li> -->
</ul>
</nav>
<br>
<form method='POST' action='.'>{% csrf_token %}

<p class="help">(* = Pflichtfeld)</p><br>

	<div class="row {% if form.Title.errors %}error{% endif %} cell title">
		<label for="id_Title">Titel des Eintrages *</label><br>
		<p class="field">{{ form.Title }}</p>
		{% if form.Title.errors %}
			<ul>
				<li class='err'>Sie müssen einen Titel angeben!</li>
			</ul>
		{% endif %}
	</div>
	<div class="row {% if form.Description.errors %}error{% endif %}">
		<label for="id_Description">Beschreibung *</label><br>
		<p class="textarea">{{ form.Description }}</p>
		{% if form.Description.errors %}
			<ul>
				<li class="err">Sie müssen noch eine Beschreibung angeben!</li>
			</ul>
		{% endif %}
	</div>
	<div class="row">
		<div class="cell {% if form.Duetime.errors %}error{% endif %} time">
			<label for="id_title">Fälligkeitszeitpunkt</label><br>
			<p class="field">{{ form.Duetime }}</p>
			<p class="help">(Uhrzeit muss im Format HH:MM:SS eingegeben werden.)</p>
			{% if form.Duetime.errors %}{{ form.duetime.errors }}{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="cell {% if form.Duedate.errors %}error{% endif %} date">
			<label for="id_Duedate">Fälligkeitsdatum *</label><br>
			<p class="field">{{ form.Duedate }}</p>
			<p class="help">(Datum muss im Format MM/TT/JJJJ oder JJJJ-MM-TT eingegeben werden.)</p>
			{% if form.Duedate.errors %}
			<ul>
				<li class="err">Sie müssen auch ein Fälligkeitsdatum angeben!</li>
			</ul>
			{% endif %}
		</div>
	</div>

	<button type='submit' class='icon-ok'></button>

</form>
</section>
{% endblock content %}