 #chart {
 	// font-size: 150%;
 	margin-top: 1%;
 	size: $wrapper-width;

 	div#open {
 		background: $light-red;
 		border-radius: 10px;
 		text-align: right;
 		color: darken($light-red, 30);
 		//padding: 1% 3%;
 		float: right;

 	}

 	div#done {
 		background: $light-green;
 		border-radius: 10px;
 		text-align: left;
 		color: darken($light-green, 30);
 		//padding: 1% 3%;


 	}
	
	div#blocker {
		width: 100%;
		clear:both;
		white-space: nowrap;
	}
}