body {

	background-color: $background-color;
	font-family: "Arial", sans-serif;
	color: $text-color1;
	font-size: 18px;
	line-height: 150%;
	margin: 3%;
header {
		background-color: lighten($background-color, 25);
		#user {
			position: relative;
			right: 20px;
			top: 10px;
			width: 150px;
			float: right;
		}
		h1 {
			color: $h1-font-color;
			font-size: 250%;
			text-decoration: none;

			}
		a {
			color: lighten($h1-font-color, 50);
			&:hover {
				color: lighten($h1-font-color, 20);
			}
		}
		h2 {
			font-size: 200%;
			background-color: $background-color;
			color: $h2-font-color;
			padding: 5% 6% 2%;
		}
		h3 {
		font-size: 150%;
		color: $h3-font-color;
		}
	    nav {
			position: relative;
			text-align: left;
			width: 50px;
			right: 0px;
			top: 0px;
			float: left;
		}
	}
section {
		background-color: $h3-field;
		border-style: solid;
    	border-width: 5px;
    	border-color: $border-color;
    	
    	nav {
				position: relative;
				text-align: right;
				width: 50px;
				right: 0px;
				top: 0px;
				float: right;
			}
	}

section#open {
		form#edit {
			border: 30px solid $light-red;
			padding: 3%;
		}

		article {
			border-left: 30px solid $light-red;
			border-bottom: 5px solid $border-color;
			padding: 3%;

			p.subtitle time {
				color: $light-red;
			}

			nav {
				position: relative;
				text-align: right;
				width: 50px;
				right: 0px;
				bottom: 0px;
				float: right;
			}

		}

		a {
			color: $light-red;
			&:hover {
				color: lighten($light-red, 20);
			}
		}
	}

section#done {
		form#edit {
			border: 30px solid $light-green;
			padding: 3%;
		}
		nav {
			position: relative;
			width: 50px;
			right: 0px;
			bottom: 0px;
			float: right;
		}

		article {
			border-left: 30px solid $light-green;
			border-bottom: 5px solid $border-color;
			padding: 3%;

			p.subtitle time {
				color: $light-green;
			}
		}

		a {
			color: $light-green;
			&:hover {
				color: lighten($light-green, 20);
			}
		}
	}
.wrapper {
		width: $wrapper-width;
	}
}