form#add {
		background-color: $h3-field;
		border: 30px solid $peach;
		margin-top: 3%;
		padding: 3%;

		a {
			color: $peach;
			&:hover {
				color: lighten($peach, 20);
			}
		}
	}

form {
	div {
		.cell {
			display: inline-block;
			width: 50%;
		}
		.time {
			float: right;
		}
		.err {
			color: darken($light-red, 15);
		}
//		p.field {
//			border: 5px solid red;
//			border-color: red;
//		}
	}

	.cell {
		display: inline-block;
		width: 50%;
	}
	.priority {
		float: right;
	}
	p.help {
		font-size: 70%;
	}
}

form#login-mask {
	border: 20px solid $h1-field;
	background: $light-gray;
	color: darken($deep-gray, 100%);
	padding: 3%;
	table {
		margin-top: 5%;
	}
}