// Breakpoint 1: Smartphones **************************************************
@media screen and (min-width: $min-1) and (max-width: $max-1) {
	body {
		font-size: 70%;

		div.wrapper {
			width: 100%;
		}

		header.h1-header {
			margin-top: 1%;
			padding: 12% 3%;
		}

		a {
			font-size: 170%;
		}

		form#add {
			border: 10px solid $peach;
		}

		form {
			div {
				.cell {
					display: inline-block;
					width: 100%;
				}
				.time {
					float: right;
				}
			}
			.cell {
				display: inline-block;
				width: 100%;
			}
			.priority {
				float: right;
			}
			p.help {
				font-size: 70%;
			}
		}
	
		section#open {
			form#edit {
				border: 10px solid $light-red;
			}

			article {
				border-left: 10px solid $light-red;
			}

		}

		section#done {
			form#edit {
				border: 10px solid $light-green;
			}

			article {
				border-left: 10px solid $light-green;
			}
		}
	}
}

// Breakpoint 2: Tablets ******************************************************
@media screen and (min-width: $min-2) and (max-width: $max-2) {
	body {
		font-size: 85%;

		div.wrapper {
			width: 100%;
		}

		header.h1-header {
			margin-top: 1%;
			padding: 10% 3%;
		}

		a {
			font-size: 160%;
		}

		form#add {
			border: 20px solid $peach;
		}

		form {
			div {
				.cell {
					display: inline-block;
					width: 100%;
				}
				.time {
					float: right;
				}
			}
			.cell {
				display: inline-block;
				width: 25%;
			}
			.priority {
				float: right;
			}
			p.help {
				font-size: 85%;
			}
		}
	
		section#open {
			form#edit {
				border: 20px solid $light-red;
			}

			article {
				border-left: 20px solid $light-red;
			}
		}

		section#done {
			form#edit {
				border: 20px solid $light-green;
			}

			article {
				border-left: 20px solid $light-green;
			}
		}
	}
}
