$wrapper-width: 980px;

$background-color: rgb(88, 88, 82);
$border-color: rgb(60, 88, 82);

$light-red: rgb(221, 97, 96);
$deep-red: rgb(179, 44, 46);

$light-green: rgb(111, 192, 126);
$deep-green: rgb(62, 140, 80);

$peach: rgb(218, 185, 0);

$light-gray: rgb(140, 140, 130);
$deep-gray: rgb(60, 60, 60);

$h1-field: rgb(60, 60, 60);
$h1-font-color: rgb(142, 240, 225);
$h2-font-color: rgb(140, 240, 230);
$h3-field: rgb(242, 242, 234);
$h3-font-color: rgb(82, 82, 62);

$text-color1: rgb(100, 100, 82);
$text-color2: rgb(179, 178, 154);

// Variables for _responsive.scss
$min-1: 0px;
$max-1: 479px;
$min-2: 480px;
$max-2: 979px;